@font-face {
  font-family: 'Inter-Black';
  font-weight: 300;
  font-style: normal;
  src:
    url('../fonts/Inter-Black.woff2') format('woff2'),
    url('../fonts/Inter-Black.woff') format('woff');
  font-display: swap;
}

