$accent:#FF5017;
$black:#13171c;


%inter-300 {
  font-family: 'Inter-Black', sans-serif;
  font-weight: 300;
}

%inter-900 {
  font-family: 'Inter-Black', sans-serif;
  font-weight: 900;
}


%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}