$accent:#FF6838;
$default:#31352B;
$title:#363853;
$other: #ff7a50;
$gray:#C2C2C2;
$white:#FFFFFF;
$peachpuff:#fff2ed;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}