$accent:#FF6838;
$default:#31352B;
$title:#363853;
$other: #ff7a50;
$gray:#C2C2C2;
$white:#FFFFFF;
$peachpuff:#fff2ed;
$bg:#F9FAFF;
$link:#ECECEC;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-italic{
   font-family: 'Rubik';
   font-weight: 400;
   font-style: italic;

}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

