.header {
  min-height: 100vh;
  @extend %bg;
  // position: relative;




  &__top {
    padding-top: 50px;
  }


  &__btn {
    width: 70px;
    height: 70px;
    position: relative;

    &::before,
    span,
    &::after {
      @include pseudo;
      background-color: $accent;
      width: 70px;
      height: 3px;
    }

    &::before {
      top: 23px;
    }

    &::after {
      bottom: 20px;
    }
  }


  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 122px);
  }

  &__title {
    text-transform: uppercase;
    line-height: .8;
    font-size: 345px;
    background: linear-gradient(180deg, #000000 0%, #830B02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-left: 150px;
  }



  &__subtitle {
    @extend %inter-900;
    font-size: 160px;
    background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    align-self: flex-end;
    padding: 0 75px 50px 0;
  }



  &__img {
    position: absolute;
    left: 0;
    right: 14px;
    top: 18px;
    bottom: 0;
    margin: auto;
    height: calc(100vh - 140px);
    // transform: translateY(50%);
    // scale: 1.1;
    // transform: translateX(90px);
  }

}