.catalogy-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 65px;

  @include mq('tablet-2') {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;

    li:nth-last-child(-n + 3) {
      display: none;
    }
  }

  @include mq('tablet') {
    margin-bottom: 40px;

    li:nth-last-child(-n + 6) {
      display: none;
    }
  }

  @include mq('phone') {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 29px;
  }
}