.discounts {
  padding-bottom: 105px;

  @include mq('phone') {
    padding: 41px 0 62px;
  }

  &__title {
    margin-bottom: 60px;

    @include mq('tablet-2') {
      font-size: 28px;
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      text-align: center;
    }

    @include mq('phone') {
      font-size: 24px;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__box:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
  }

  & .restaurants-card__item {
    padding-bottom: 12px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(57px);

    li:not(:last-child) {
      margin-right: 15px;
    }

    li {
      button {
        padding: 0;
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:focus {
          box-shadow: 0 0 0 2px $accent;
        }

        &:hover {
          border: 2px solid $other-light;
          background-color: $peachpuff;
        }

        &:active {
          background-color: $other-light;
          box-shadow: none;
        }
      }

      &.slick-active button {
        background-color: $accent;
      }
    }
  }
}