.filters-price {
  &__form {
    padding: 25px 15px 18px 15px;
  }

  &__box-function {
    display: flex;
  }

  &__box {
    position: relative;
    padding: 0 15px 0 23px;

    &:not(:last-child) {
      margin-right: 21px;
    }

    &::after,
    &::before {
      position: absolute;
      content: "₴";
      right: 0;
      color: $gray;
      font-size: 16px;
      top: 8px;
    }

    &::before {
      content: "до";
      left: 0;
    }

    &__box--to::before {
      position: absolute;
      content: "от";
      left: 0;
    }
  }

  &__to,
  &__from {
    width: 70px;
    height: 40px;
    background-color: $internal;
    padding: 12px 13px;
    border-radius: 3px;
    transition: border 0.3s;
    border: none;
    text-align: center;

    &:focus {
      border: 1px solid $accent;
    }
  }
}