.filters-offers {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 23px 0 21px 15px;
  }

  &__label {
    padding-left: 36px;
    position: relative;
    transition: border-color 0.4s,
      color 0.4s;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      .filters-offers__check {
        border-color: $accent;
      }

      .filters-offers__text {
        color: $accent;
      }
    }

    &:focus {
      .filters-offers__text {
        color: $default;
      }
    }
  }

  &__text {
    transition: color 0.5s;
  }

  &__check {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: $internal;
    border: 1px solid $link;
    border-radius: 3px;
    text-align: center;
    transition: border-color 0.5s;
  }

  &__input {
    @extend %checkbox-non;

    &:checked+.filters-offers__check {
      background-image: url('../images/icons/icon-check.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &:focus+.filters-offers__check {
      box-shadow: 0 0 0 1px $accent;
      border-color:none;
    }
  }



}