.filters-catalogy {
  &__title {
    @extend %rubik-400;
    font-size: 24px;
    line-height: 1.2;
    color: $title;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid $link;
  }

  &__list:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.3;
  }
}