.irs--round {
  & .irs-line {
    top: 33px;
    height: 2px;
    background-color: $link;
  }

  & .irs-bar {
    top: 33px;
    height: 2px;
    background-color: $accent;
  }

  & .irs-handle {
    top: 25px;
    width: 18px;
    height: 18px;
    background-color: $accent;
    border-radius: 20px;
    border: none;

    &:hover {
      background-color: $accent;
    }
  }

  & .irs-from,
  .irs-to,
  .irs-single,
  .irs-min,
  .irs-max {
    display: none;
  }

  & .irs-handle.state_hover,
  & .irs-handle:hover {
    background-color: $internal;
  }
}