.jq-selectbox {
  z-index: 0;

  &__select {
    padding: 15px;
    width: 150px;
    height: 47px;
    border: 1px solid $gray;
    border-radius: 3px;
    background: $white;
    box-shadow: none;
    color: $default;
    @extend %rubik-400;
    display: flex;
    align-items: center;
    transition: border-color 0.4s, color 0.4s, background 0.4s;

    @include mq("tablet") {
      width: 139px;
    }

    @include mq("tablet") {
     padding: 0 10px;
    }

    &:hover {
      border-color: $accent;
      color: $accent;
      background: $white;
    }

    &:hover .jq-selectbox__trigger-arrow {
      filter: invert(50%) sepia(19%) saturate(2538%) hue-rotate(331deg) brightness(102%) contrast(101%);
      transition: filter 0.5s;
    }
  }

  &.focused .jq-selectbox__select {
    border: 1px solid $accent;
    color: $default;

    .jq-selectbox__trigger-arrow {
      filter: invert(0%) sepia(92%) saturate(7495%) hue-rotate(35deg) brightness(98%) contrast(100%);
    }
  }

  &__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid $other-light;
    border-radius: 4px;
    background: #fff;
    box-shadow: rgba($accent, 0.25) 0px 25px 50px -12px;
  }

  & li.selected {
    background-color: $other-light;
    color: #fff;
  }

  & li:hover {
    background-color: $other-light;
  }

  &__trigger-arrow {
    position: absolute;
    top: 18px;
    right: 13px;
    width: 11px;
    height: 6px;
    border: none;
    background-image: url('../images/sprite.svg#icon-angel');
    @extend %bg;
    filter: invert(88%) sepia(0%) saturate(2099%) hue-rotate(149deg) brightness(89%) contrast(90%);
  }

  &__trigger {
    border-left: none;
  }
}