.applications {
  @include mq('phone') {
    padding: 20px 0 0;
  }

  &__box {
    display: flex;
    align-items: center;
    padding-top: 53px;

    @include mq('desktop') {
      justify-content: center;
      padding: 0;
    }
  }

  &__content {
    max-width: 540px;
    margin-right: 60px;

    @include mq('desktop') {
      max-width: 621px;
    }

    @include mq('phone') {
      max-width: 395px;
    }
  }

  &__title {
    margin-bottom: 45px;

    @include mq('tablet-2') {
      font-size: 30px;
    }

    @include mq('tablet') {
      font-size: 28px;
    }

    @include mq('phone') {
      font-size: 24px;
      margin-bottom: 13px;
    }
  }

  &__text {
    @extend %rubik-400;
    font-size: 20px;
    line-height: 1.5;
    color: $default;
    margin-bottom: 30px;

    @include mq('tablet-2') {
      font-size: 18px;
    }

    @include mq('tablet') {
      font-size: 16px;
    }

    @include mq('phone') {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__inner {
    display: flex;
  }

  &__list:not(:last-child) {
    margin-right: 30px;
  }

  &__img {
    height: 380px;
    max-width: 570px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('desktop') {
      display: none;
    }
  }
}