.color-card {
  max-width: 444px;
  width: 100%;
  height: 359px;
  border-radius: 20px;
  transition: box-shadow 0.4s, color 0.4s, transform 0.4s;

  &__img {
    max-width: 444px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.4s, box-shadow 0.3s;
  }

  &__name {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    transition: color 0.4s;
  }

  &:hover &__img {
    transform: translateY(-30px);
    box-shadow: rgba($white, 0.25) 0px 25px 50px -12px;
  }

  &:hover &__name--orange {
    color: orangered;
  }

  &:hover &__name--yellow {
    color: yellow;
  }

  &:hover &__name--yellow {
    color: yellow;
  }
}