.contacts {
  &__search {
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    padding-left: 31px;
    font-size: 16px;
    line-height: 2;

    &::before {
      @include pseudo;
      @extend %bg;
      width: 24px;
      height: 24px;
      left: 0;
    }

    &--street::before {
      background-image: url("../images/icons/icon-location.svg");
    }

    &--calling::before {
      background-image: url("../images/icons/icon-calling.svg");
    }

    &--message::before {
      background-image: url("../images/icons/icon-message.svg");
    }
  }
}