.menu {

  &__link {
    &--active {
      color: $accent;
    }
  }

  &__btn {
    display: none;

    @include mq('tablet-2') {
      width: 44px;
      height: 44px;
      position: relative;
      display: block;
      order: 2;

      & span,
      &::before,
      &::after {
        content: '';
        position: absolute;
        background-color: $title;
        width: 30px;
        height: 2px;
        left: 0;
        transition: transform 0.6s;

        @include mq('phone') {
          left: 7px;
        }
      }

      &::before {
        top: 9px;

        @include mq('phone') {
          top: 12px;
        }
      }

      &::after {
        bottom: 7px;

        @include mq('phone') {
          bottom: 10px;
        }
      }
    }
  }

  &__list {
    margin-right: 50px;

    @include mq('tablet-2') {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }
}
