<footer class="footer" id="contacts">
  <div class="container">
    <div class="footer__top">

      <div class="footer__item">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/header_logo.svg" width="200" height="40" alt="логотип">
        </a>
        <form class="form-item">
          <label aria-label="ваш email"></label>

          <input class="form-item__input" type="email" placeholder="Ваш email" required id="email" name="email">

          <button class="form-item__subscribe animation-btn " type="submit">
            <svg class="form-item__icon">
              <use xlink:href="images/sprite.svg#icon-arrow_btn"></use>
            </svg>
            Подписаться
          </button>
        </form>
      </div>

      <ul class="footer__inner">
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Как это работает</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">О нас</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Скачать приложение</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Продукты</a>
        </li>

        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Новости</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Блог</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Блюда</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Партнеры</a>
        </li>

        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Что нового?</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Меню</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">ЧаВо</a>
        </li>
        <li class="footer__list">
          <a class="footer__link animation-link " href="#">Карта сайта
          </a>
        </li>
      </ul>

      <address class="contacts">
        <ul class="contacts__search">

          <li class="contacts__item">
            <a class="contacts__link animation-link contacts__link--street" href="#">
              ул. Т.Г.Шевченко, 1
            </a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link animation-link contacts__link--calling" href="tel:+380501112233">
              380501112233
            </a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link animation-link contacts__link--message" href="mailto:support@sfood.com">
              support@sfood.com
            </a>
          </li>
        </ul>

        <ul class="social-item">

          <li class="social-item__list">
            <a class="social-item__link social-anm" href="#" target="_blank" rel="noopener noreferrer">
              <svg class="social-item__icon social-item__icon--facebook">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only">наш фейсбук</span>
            </a>
          </li>

          <li class="social-item__list">
            <a class="social-item__link social-anm" href="#" target="_blank" rel="noopener noreferrer">
              <svg class="social-item__icon social-item__icon--twitter">
                <use xlink:href="images/sprite.svg#icon-twitter"></use>
              </svg>
              <span class="sr-only">ссылка на твитер</span>
            </a>
          </li>

          <li class="social-item__list">
            <a class="social-item__link social-anm" href="#" target="_blank" rel="noopener noreferrer">
              <svg class="social-item__icon social-item__icon--instagram">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">ссылка на инстаграм</span>
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>

  <div class="footer__down">
    <span class="footer__text">
      © 2022 Simple Food
    </span>
  </div>
</footer>