.interesting {
  padding: 60px 0 100px;

  @include mq('tablet-2') {
    padding: 45px 0 80px;
  }

  @include mq('tablet') {
    padding: 35px 0 60px;
  }

  @include mq('phone') {
    padding: 24px 0 40px;
  }

  &__title {
    @include mq('tablet-2') {
      font-size: 28;
    }

    @include mq('tablet') {
      font-size: 24;
    }

    @include mq('phone') {
      font-size: 20px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include mq('tablet-2') {
      margin-bottom: 50px;
    }

    @include mq('tablet') {
      margin-bottom: 35px;
    }

    @include mq('phone') {
      margin-bottom: 28px;
    }
  }

  &__box {
    display: flex;
    align-items: center;

    @include mq('tablet') {
      display: none;
    }
  }

  &__list {
    display: flex;
  }

  &__button {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    bottom: 52px;
    background-color: transparent;
    border: 3px solid $gray;
    transition: box-shadow 0.5s,
      background-color 0.5s, border-color 0.5s;

    &--left {
      &::after {
        transform: rotate(180deg);
      }
    }

    &::after {
      @include pseudo;
      width: 10px;
      height: 18px;
      background-image: url(../images/sprite.svg#icon-next);
      @extend %bg;
      filter: invert(100%) sepia(0%) saturate(3539%) hue-rotate(48deg) brightness(78%) contrast(95%);
      transition: 0.5s;
    }

    &:not(:last-child) {
      margin-right: 22px;
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent;
    }

    &:hover {
      border-color: $accent;
    }

    &:hover {
      &::after {
        filter: invert(43%) sepia(25%) saturate(4837%) hue-rotate(342deg) brightness(122%) contrast(101%);
      }
    }
  }

  &__slider {
    padding: 1px;

    @include mq('tablet') {
      padding-bottom: 60px;
    }
  }

  &__pagination {
    display: none;

    @include mq('tablet') {
      display: block;
    }

  }


  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $text-product;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 10px;
  }


  .swiper-pagination-bullet-active {
    background-color: $accent;
  }





}
