.product-box {
  display: flex;
  margin-bottom: 60px;

  @include mq('tablet-2') {
    flex-direction: column;
    margin-bottom: 50px;
  }

  @include mq('tablet') {
    margin-bottom: 40px;
  }

  @include mq('phone') {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;

    @include mq('desktop') {
      font-size: 32px;
    }

    @include mq('tablet-2') {
      font-size: 28px;
    }

    @include mq('tablet') {
      font-size: 26px;
    }

    @include mq('phone') {
      font-size: 24px;
      margin-bottom: 13px;
    }
  }

  &__title-pay {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    @extend %rubik-400;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($gray, 0.2);
    margin-bottom: 20px;

    @include mq('tablet-2') {
      font-size: 22px;
    }

    @include mq('tablet') {
      font-size: 20px;
    }

    @include mq('phone') {
      font-size: 18px;
      margin-bottom: 13px;
    }
  }

  &__price {
    @extend %rubik-500;
    font-size: 25px;
    line-height: 1.3;
    color: $title;
    display: block;
    margin-bottom: 22px;

    @include mq('phone') {
      margin-bottom: 20px;
    }
  }

  &__btn {
    padding: 13px 40px;
    display: flex;

    &:hover {
      .product-box__icon {
        fill: $white;
        stroke: $accent;
        transform: translateX(10px);
      }
    }

    &:active {
      .product-box__icon {
        fill: $white;
        stroke: $accent;
      }
    }

    &:focus {
      .product-box__icon {
        fill: $white;
        stroke: $accent;
      }
    }
  }

  &__icon {
    width: 19px;
    height: 18px;
    stroke-width: 1.5;
    fill: $accent;
    stroke: $white;
    margin-right: 14px;
    transition: fill 0.3s, stroke 0.4s, transform 0.5s;
  }

  &__function {
    display: flex;
    margin-bottom: 30px;

    @include mq('desktop') {
      flex-direction: column;
    }
  }

  &__list {
    margin-bottom: 19px;

    @include mq('phone') {
      margin-bottom: 15px;
    }
  }

  &__item {
    font-size: 16px;
    @extend %rubik-400;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: $text-product;
  }

  &__link {
    font-size: 20px;
    line-height: 1.5;
    color: $title;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-skip-ink: none;

    @include mq('tablet') {
      font-size: 18px;
    }

    @include mq('phone') {
      font-size: 16px;
      margin-bottom: 13px;
    }
  }

  &__star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 25px;

    @include mq('phone') {
      margin-bottom: 18px
    }
  }

  &__off {
    @extend %checkbox-non;

    &:checked~.product-box__label,
    &:hover~.product-box__label:hover {
      filter: invert(68%) sepia(55%) saturate(1301%) hue-rotate(359deg) brightness(102%) contrast(105%);
    }
  }

  &__input {
    @include mq('desktop') {
      margin-bottom: 15px;
    }
  }
}