.product-box__off {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;

  &:checked~.product-box__label,
  &:hover~.product-box__label:hover {
    filter: invert(68%) sepia(55%) saturate(1301%) hue-rotate(359deg) brightness(102%) contrast(105%);
  }
}