.product-box__label {
  margin-right: 5px;
  background-image: url(../images/sprite.svg#icon-star);
  width: 16px;
  height: 16px;
  @extend %bg;
  filter: invert(95%) sepia(44%) saturate(16%) hue-rotate(247deg) brightness(106%) contrast(51%);

  &:hover~.product-box__label {
    filter: invert(68%) sepia(55%) saturate(1301%) hue-rotate(359deg) brightness(102%) contrast(105%);
  }
}